<section class='h-full layout-col place-content-evenly'>
    <SummaryItem @name={{@selectedBar.name}} @value={{@selectedBar.weight}} />
    <SummaryItem @name='Total adjusted weight' @value={{@totalWeight}} />
    <section
        class='rounded p-4 border-0 dark:bg-zinc-800 bg-white layout-col layout-col--center'
    >
        <span class='font-bold'>{{if
                @isNoWeightBar
                'Total weight'
                'Weight per side'
            }}:
            {{@adjustedWeight}}lbs
        </span>
        <div class='flex flex-row gap-2 flex-wrap items-center justify-center'>
            {{#each @platesNeeded as |plate|}}
                <Plate @plate={{plate}} />
            {{/each}}
        </div>
    </section>
</section>