<section class='h-full layout-col layout-col--center'>
    <header class='flex flex-col gap-2 w-full'>
        <SummaryItem
            @name={{@selectedBar.name}}
            @value={{@selectedBar.weight}}
        />
        <SummaryItem @name='Total adjusted weight' @value={{@totalWeight}} />
    </header>
    <section class='with-border layout-col layout-col--center'>
        <span class='font-bold'>{{if
                @isNoWeightBar
                'Total weight'
                'Weight per side'
            }}:
            {{@weightPerSide}}lbs
        </span>
        <div class='flex flex-row gap-2 flex-wrap items-center justify-center'>
            {{#each @platesNeeded as |plate|}}
                <Plate @plate={{plate}} />
            {{/each}}
        </div>
    </section>
</section>