{{page-title 'WeightCalc'}}

<main class='h-full layout-col text-zinc-700 dark:text-zinc-50'>
    <article class='layout-col h-full'>
        {{#if this.isSettingsOpen}}
            <header
                class='text-3xl font-bold self-center pb-4 text-blue-700 dark:text-yellow-400'
            >Weight Calculator</header>
            <Controls
                @bars={{this.model.bars}}
                @calculatePlatesNeeded={{this.calculatePlatesNeeded}}
                @handleBarChange={{this.handleBarChange}}
                @isBarHeavier={{this.isBarHeavier}}
                @isLegPress={{this.isLegPress}}
                @legPressPlateSet={{this.legPressPlateSet}}
                @plates={{this.model.plates}}
                @plateSet={{this.plateSet}}
                @selectedBar={{this.selectedBar}}
                @weight={{this.weight}}
            />
        {{/if}}
        {{#if this.isResultsOpen}}
            {{#if this.weight}}
                <header
                    class='text-3xl font-bold self-center pb-4 text-blue-700 dark:text-yellow-400'
                >Get your plates!</header>
                <Results
                    @adjustedWeight={{this.adjustedWeight}}
                    @isNoWeightBar={{this.isNoWeightBar}}
                    @platesNeeded={{this.platesNeeded}}
                    @selectedBar={{this.selectedBar}}
                    @totalWeight={{this.totalWeight}}
                    @weightPerSide={{this.weightPerSide}}
                />
                <Button {{on 'click' this.backToSettings}}>Back</Button>
            {{/if}}
        {{/if}}
    </article>
</main>

{{outlet}}