{{page-title 'WeightCalc'}}

<main class='h-full layout-col text-zinc-700 dark:text-zinc-50'>
    <article class='layout-col h-full'>
        {{#if this.isSettingsOpen}}
            <button
                type='button'
                class='-mr-[6px] w-full flex flex-row items-center justify-end text-blue-700 dark:text-yellow-400 disabled:opacity-30'
                {{on 'click' this.calculatePlatesNeeded}}
                disabled={{not this.weight}}
            >
                <span class='text-2xl font-semibold'>Calculate</span>
                <HeroIcon class='w-8 stroke-2' @icon='chevron-right' />
            </button>
            <header class='my-2 text-3xl font-bold'>Weight Calculator</header>
            <Controls
                @bars={{this.model.bars}}
                @calculatePlatesNeeded={{this.calculatePlatesNeeded}}
                @handleBarChange={{this.handleBarChange}}
                @isBarHeavier={{this.isBarHeavier}}
                @isLegPress={{this.isLegPress}}
                @legPressPlateSet={{this.legPressPlateSet}}
                @plates={{this.model.plates}}
                @plateSet={{this.plateSet}}
                @selectedBar={{this.selectedBar}}
                @weight={{this.weight}}
            />
        {{/if}}
        {{#if this.isResultsOpen}}
            {{#if this.weight}}
                <button
                    type='button'
                    class='-ml-[6px] w-full flex flex-row items-center text-blue-700 dark:text-yellow-400'
                    {{on 'click' this.backToSettings}}
                >
                    <HeroIcon class='w-8 stroke-2' @icon='chevron-left' />
                    <span class='text-2xl font-semibold'>Back</span>
                </button>
                <header class='my-2 text-3xl font-bold'>Get your plates!</header>
                <Results
                    @adjustedWeight={{this.adjustedWeight}}
                    @isNoWeightBar={{this.isNoWeightBar}}
                    @platesNeeded={{this.platesNeeded}}
                    @selectedBar={{this.selectedBar}}
                    @totalWeight={{this.totalWeight}}
                />
            {{/if}}
        {{/if}}
    </article>
</main>

{{outlet}}