{{page-title 'Index'}}
<Layout as |l|>
    <l.navigation
        @route='results'
        class='justify-end
            {{if
                this.weights.isCalculationDisabled
                "cursor-not-allowed opacity-30"
            }}'
        {{did-insert this.initSettings}}
    >
        <span class='text-2xl font-semibold'>Results</span>
        <HeroIcon class='w-8 stroke-2' @icon='chevron-right' />
    </l.navigation>
    <l.header>Set up</l.header>
    <l.main>
        <Controls
            @bars={{this.model.bars}}
            @handleBarChange={{this.handleBarChange}}
            @isBarHeavier={{this.weights.isBarHeavier}}
            @isLegPress={{this.weights.isLegPress}}
            @legPressPlateSet={{this.weights.legPressPlateSet}}
            @plates={{this.model.plates}}
            @plateSet={{this.weights.plateSet}}
            @selectedBar={{this.weights.selectedBar}}
            @weight={{this.weights.weight}}
        />
    </l.main>
</Layout>